.name:hover{
    color: rgb(255, 0, 0); 
    text-shadow: 5px rgb(3, 3, 3);
}
.name:hover{
color: rgb(255, 0, 0);
text-transform: capitalize;
text-shadow: 5px rgb(0, 0, 0);
}
.name:hover{
color: rgb(255, 0, 0);
text-transform: capitalize;
text-shadow: 5px rgb(0, 0, 0);

}
body{
    background-color: black;
    color: aliceblue;
}
.gif{
    opacity: 0.5%;
}
.img{
    margin-top: 60px;
}