.name:hover{
    color: rgb(255, 0, 0); 
    text-shadow: 5px red;
}
.name:hover{
color: rgb(255, 0, 0);
text-transform: capitalize;
text-shadow: 5px red;
}
.name:hover{
color: rgb(255, 0, 0);
text-transform: capitalize;
text-shadow: 5px red;
}
body{
    background-color: black;
    color: aliceblue;
}